.fondoimage {
    background-image: url(../Img/fondoimage.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 00px -200px;
}

header {
    background-color: #f7f7f7;
}

section {
    text-align: center;
}

body {
    background-color: black;
}

nav {
    max-width: 100%;
}

.naveg {
    width: 45%;
    margin-right: 50px;
    margin-left: auto;
    justify-content: space-between;
    display: flex;
}

h1 {
    text-align: left;
    font-size: 60px;
    color: black;
    margin-left: 75px;
    text-shadow: rgb(165, 165, 165) 0.1em 0.1em 0.2em;
}

h2 {
    font-size: 30px;
    color: cornflowerblue;
    text-shadow: aquamarine 0.1em 0.1em 0.2em;
}

a {
    text-decoration: none;
    text-align: center;
}

.text1 {
    font-size: 50px;
    color: white;
    font-style: oblique;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.text2 {
    font-size: 30px;
    color: white;
    font-style: oblique;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.text3 {
    font-size: 50px;
    color: white;
    font-style: oblique;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.logo {
    text-align: left;
    display: flex;
    margin-left: 20px;
}

.divprin {
    width: 30%;
    margin-left: 10px;
    height: 200px;
}

.divtext1 {
    width: 50%;
    margin-left: 200px;
    height: 200px;
    text-align: left;

}

.divtext2 {
    width: 50%;
    margin-left: 300px;
    height: 150px;
}

.divtext3 {
    width: 50%;
    margin-left: 550px;
    height: 200px;
}

.text4 {
    font-size: 15px;
    color: white;

}